body {
  margin: 20px;
  background-color: lightblue;
  color: #ffffff;
  font-family: 'Charm', cursive;

}

#country {
  color: red;
  font-weight: bolder;
  text-align: center;
}

#country h3 {
  text-decoration: underline;
  color: red;
}

#countries {
  font-family: 'Charm', cursive;
}
